:root {
	--container-width: 1920px;
	--container-padding: 80px;


	--font-family: "Gilroy", sans-serif;
	--second-family: "Chronicle Display", sans-serif;
	--font-titles: var(--font-family);

	--bg: #0b1d26;
	--weiß: #fff;
	--accent: #fbd784
	--page-bg: var(--bg);
	--text-color: var(--weiß);
	--link-color: var(--weiß);


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}