.header {
	padding: 64px 0 198px;
	background-color: #000;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}


.container {
}
.header__row {
}
.logo {
	width: 108px;
	height: 24px;
}
.logo-img {
}

.active {
}
.account {

}
.account-person {
	display: flex;
	align-items: center;
}

.account-text{
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 17px;
	color: var(--weiß);
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	padding-left: 8px;
}




.header__nav {
	@include tablet {
		display: none;
	}
}